<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>SecondFriend Support</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">

      <!-- Le styles -->
      <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
      <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
      <link href="/static/css/main.css" rel="stylesheet">
      
      {% block extra_head %}{% endblock %}
    </head>

  <body>
    <div id="profile-container" class="span8" style="margin: 0 auto !important; padding: 10px 20px; background: url('static/img/header-background.png') repeat-x #1e4768;">
      {% block profile_container %}{% endblock %}
    </div>
    <div id="container" class="span8" style="margin: 0 auto; padding: 10px 20px; background: url('static/img/app-background.png') repeat;">

      <header class="header">
        {% include "header.html" %}
      </header>
      {% block content %}{% endblock %}

      <footer class="footer">
        {% include "footer.html" %}
      </footer>

    </div><!-- /container -->
    <br />

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
    
    {% block extra_body %}{% endblock %}
  </body>
</html>